.huge-text {
    font-size: 150px;
    font-family: fantasy;
    text-align: center;
    color:cornflowerblue;
    text-shadow: 10px 10px 5px black;
    transition: 0.5s;
}

.huge-text:hover {
    color:blue;
}

.tiny-text {
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
    width: 100%;
}

.box {
    background-color: gray;
    padding: 20px;
    display: inline;
    text-align: center;
    border-radius: 20px;
}